@(msgForm: Form[controllers.Application.Message])(implicit session: play.api.mvc.Session)
@import helper._
@import views.helper.twitterBootstrap3._

@main(Html("Decryption"), nav = "decryption") {
    <h6>Alice got encrypted message from Bob.</h6>
    @helper.form(action = routes.Application.prepareDecryption, 'id -> "form") {
        <script>
            $(function(){
                $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
                $('#decryptBtn' ).click(function(){
                    $.post('@routes.Application.decrypt', $( "#form" ).serialize())
                        .done(function( data ) {
                            $('#plainText' ).val(data);
                    });
                });
            })
        </script>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group" id="privateKey_field">
                    <label for="privateKey">Private Key:</label>
                    <div class="form-control">
                        <span> @session.get("privateKey") </span>
                    </div>
                </div>
                @inputText(
                    msgForm("key"),
                    '_label -> "Alice's Private Key",
                    '_help -> "Only Alice knows this key",
                    '_error -> msgForm.globalError,
                    'class -> "form-control"
                )
                @textarea(
                    msgForm("text"),
                    '_label -> "Bob's Cipher Text",
                    '_help -> "",
                    '_error -> msgForm.globalError,
                    'class -> "form-control col-md-6",
                    'rows -> 5
                )
                <div class="actions">
                    <input type="button" id="decryptBtn" class="btn btn-success" value="Decrypt" />
                </div>
            </div>
            <div class="col-md-4" style="text-align: left;">
                <img src="@routes.Assets.at("images/Alice.png")" height="300px"
                    style="padding-left: 50px;"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" id="plainText_field">
                    <label class="control-label" for="plainText">Bob&#x27;s Plain Text</label>
                    <textarea id="plainText" name="plainText" class="form-control col-md-12" rows="7"></textarea>
                    <div style="margin-top: 5px; padding: 5px 0px 5px 5px;
                             border: dashed thin #888888;">
                        <p>M = c1*c2<sup>-x</sup>(<i>mod P</i>)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions" style="width:100%">
            <a href="@routes.Application.setupKey" class="btn btn-primary">Start Over</a>
        </div>
    }


}