@(msgForm: Form[controllers.Application.Message])(implicit session: play.api.mvc.Session)
@import helper._
@import views.helper.twitterBootstrap3._

@main(Html("Encryption"), nav = "encryption") {
    <h6>Bob wants to send message to Alice.</h6>
    @helper.form(action = routes.Application.encrypt, 'id -> "form") {
        <script>
            $(function(){
                $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
                $('#encryptBtn' ).click(function(){
                    $.post('@routes.Application.encrypt', $( "#form" ).serialize())
                        .done(function( data ) {
                            $('#cipherText' ).val(data);
                    });
                });
            })
        </script>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group" id="privateKey_field">
                    <label for="privateKey">Public Key:</label>
                    <div class="form-control" style="padding-top:7px;">
                        <span>
                            ( @session.get("publicKey.prime"),
                            @session.get("publicKey.alpha"),
                            @session.get("publicKey.beta") )
                        </span>
                    </div>
                </div>
                @inputText(
                    msgForm("key"),
                    '_label -> "Bob's Key",
                    '_help -> "Leave it empty if you want system to generate random number for block",
                    '_error -> msgForm.globalError,
                    'class -> "form-control"
                )
                @textarea(
                    msgForm("text"),
                    '_label -> "Bob's Message",
                    '_help -> "",
                    '_error -> msgForm.globalError,
                    'rows -> 5, 'class -> "col-md-6",
                    'class -> "form-control"
                )
                <div class="actions">
                    <input type="button" id="encryptBtn" class="btn btn-success" value="Encrypt" />
                </div>
            </div>
            <div class="col-md-4" style="text-align: left;">
                <img src="@routes.Assets.at("images/SpongeBob.png")" width="300px"
                    style="padding-left: 50px;"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" id="cipherText_field">
                    <label class="control-label" for="cipherText">Bob&#x27;s Ciphers</label>
                    <textarea id="cipherText" name="cipherText" class="form-control col-md-12" rows="7"></textarea>
                    <div style="margin-top: 15px; padding: 15px 0px 5px 5px;
                             border: dashed thin #888888;">
                        <p>Collection of (c1, c2) where</p>
                        <p>c1 = g<sup>y</sup> (<i>mod P</i>)</p>
                        <p>c2 = h<sup>y</sup>M (<i>mod P</i>)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions" style="width:100%">
            <a href="@routes.Application.prepareDecryption" class="btn btn-primary">
            Send secret message to Alice
            </a>
            <a href="@routes.Application.setupKey" class="btn btn-default">Cancel</a>
        </div>
    }


}