@main(Html(""), nav = "intro") {

    <a name="carousel"></a>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>What is Elgamal?</h1>
              <p>Elgamal is asymmetric key encryption algorithm which is based on Diffie-Hellman.</p>
              <h2>What are there similarities between RSA and Elgamal?</h2>
              <ul style="text-align: left;font-size: 1.5em;">
                  <li>Asymmetric key encryption scheme.</li>
                  <li>Partially homomorphic cryptosystems on multiplication operation.<br />
                      E(x1)*E(x2) = E(x1*x2)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <img src="@routes.Assets.at("images/rsa_vs_elgamal.png")" />
              <h1>It's like Coke vs Great Value Cola *</h1>
              <h2>* Blind test</h2>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>So, what are there differences?</h1>
              <table class="table" style="text-align: left;">
                <thead>
                  <tr>
                    <th>RSA</th>
                    <th>ElGamal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Security of RSA depends on the difficulty of factoring large integers.</td>
                    <td>Security of ElGamal depends on the difficulty of computing discrete logs in a large prime modulus.</td>
                  </tr>
                  <tr>
                    <td>2 elements for public key</td>
                    <td>3 elements for public key</td>
                  </tr>
                  <tr>
                    <td>
                        In plain RSA encryption, the same input yields the same result for the same public key.&nbsp;
                        (<a href="http://www.hanewin.net/encrypt/rsa/rsa-test.htm" target="_blank">See</a>)
                    </td>
                    <td>The sender can generate the random number for each message to make cipher text looks random.</td>
                  </tr>
                  <tr>
                    <td>Shorter cipher text</td>
                    <td>The cipher text is larger than RSA twice </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

}