@(title: Html = Html("Simple ElGamal Encryption - implemented in Scala"), nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>ElGamal Encryption</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.blockUI.js")" type="text/javascript"></script>
    </head>
    <body>
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">ElGamal</a>
                    <ul class="nav">
                        <li class="@("active".when(nav == "setupKey"))">
                            <a href="@routes.Application.setupKey">Setup Key</a>
                        </li>
                        <li class="@("active".when(nav == "encryption"))">
                            <a href="@routes.Application.prepareEncryption">Encryption</a>
                        </li>
                        <li class="@("active".when(nav == "decryption"))">
                            <a href="@routes.Application.prepareDecryption">Decryption</a>
                        </li>
                        <li class="@("active".when(nav == "source"))">
                            <a href="@routes.Application.source">Source</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                
                <div class="page-header">
                    <h1>@title</h1>
                </div>

                <div class="row">
                    <div class="span12">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>
                <p>
                    <a href="http://www.siberhus.com">www.siberhus.com</a>
                </p>
            </footer>

        </div>
        
    </body>
</html>
