@(title: Html = Html("Simple ElGamal Encryption - implemented in Scala"), nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>ElGamal Encryption</title>
        <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.at("javascripts/jquery.blockUI.js")" type="text/javascript"></script>
    </head>
    <body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="@routes.Application.index()">Interactive Elgamal</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="@("active".when(nav == "intro"))"><a href="@routes.Application.index()#carousel">Introduction</a></li>
                <li class="@("active".when(nav == "setupKey"))"><a href="@routes.Application.setupKey">Setup Key</a></li>
                <li class="@("active".when(nav == "encryption"))"><a href="@routes.Application.prepareEncryption">Encryption</a></li>
                <li class="@("active".when(nav == "decryption"))"><a href="@routes.Application.prepareDecryption">Decryption</a></li>
                <li class="@("active".when(nav == "examples"))"><a href="@routes.Application.examples">Examples</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="@("active".when(nav == "source"))"><a href="@routes.Application.source">Source</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>

        <div class="container" style="margin-top: 30px;">
            <div class="page-header">
                <h1>@title</h1>
            </div>
            <div class="row" style="padding-left: 20px;">
                @content
            </div>
            <br />
            <footer style="margin-top: 30px;">
                <p style="text-align: center;">
                    <a href="http://www.siberhus.com">www.siberhus.com</a>
                </p>
            </footer>
        </div>

        
    </body>
</html>
