@(kp: controllers.Application.KeyPair)

@main(Html("Public Key created!"), nav = "setupKey") {

    <h2>Key Pair</h2>
    <h3>Public Key Tuple : (@kp.publicKey.prime, @kp.publicKey.alpha, @kp.publicKey.beta)</h3>
    <h3>Private Key : @kp.privateKey</h3>

    @helper.form(action = routes.Application.prepareEncryption) {
        <input type="hidden" name="keyPair.publicKey.prime" value='@kp.publicKey.prime' >
        <input type="hidden" name="keyPair.publicKey.alpha" value='@kp.publicKey.alpha' >
        <input type="hidden" name="keyPair.publicKey.beta" value='@kp.publicKey.beta' >
        <input type="hidden" name="keyPair.privateKey" value='@kp.privateKey' >

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Give Bob a Public Key">
            <a href="@routes.Application.setupKey" class="btn">Cancel</a>
        </div>
    }
}